<html>
<head>
    <title>CamLoop-Web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <div id="left-panel">
            <form method="POST">
                <button name="start">Zapni CamLoop</button>
                <button name="stop">Vypni CamLoop</button>
            </form>

            <form method="POST" id="form">
                <table>
                    <thead>
                        <tr>
                            <th>Preset</th>
                            <th>Doba trvania (s)</th>
                        </tr>
                    </thead>
                <tbody id="inputs">
                    <!-- Initial preset and sleep time inputs -->
                    {% for preset in presets %}
                    <tr class="input-group">
                        <td>
                            <input type="text" name="preset{{ loop.index }}" value="{{ preset }}" placeholder="Preset {{ loop.index }}">
                        </td>
                        <td>
                            <input type="text" name="sleep_time{{ loop.index }}" value="{{ sleep_times[loop.index0] }}" placeholder="Sleep Time {{ loop.index }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <button type="button" id="add">Pridaj dalsi riadok</button>
                <button type="button" id="remove">Vymaz posledny riadok</button>
                <input type="submit" name="save" value="Uloz">
                <input type="submit" name="load" value="Nacitaj">
            </form>

            <h3>CamLoop prave: {{ 'bezi' if script_running else 'nebezi' }}</h3>
            <h3 id="status">Volany preset: ziadny</h3>
        </div>

        <div id="right-panel">
            <img src="{{ url_for('video_feed') }}"/>
        </div>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </div>
</body>
</html>